.catalog {
    @include flex(flex-start, flex-start);

    @include tablet {
        flex-direction: column;
    }

    &__filter {
        width: 20%;
        position: sticky;
        top: calc(#{$header-shrink-height} + 50px);

        @include tablet {
            background-color: var(--main-bg);
            width: max-content;
            position: fixed;
            height: 100vh;
            left: 0;
            top: $header-tablet-height;
            z-index: 100;
            padding: 1rem;
            box-shadow: var(--box-shadow);
            transform: translateX(-100%);
            transition: transform 0.3s ease;
        }

        @include mobile {
            top: $header-mobile-height;
        }

        &.active {
            transform: translateX(0);
        }

        &__widget {
            margin-bottom: 2rem;

            &__title {
                text-transform: capitalize;
                font-weight: 600;
                font-size: 1.25rem;
                margin-bottom: 16px;
            }

            &__content {
                color: var(--txt-second-color);

                &__item {
                    margin-bottom: 13px;
                    text-transform: uppercase;
                }
            }

            &__close {
                display: none;

                @include tablet {
                    display: block;
                    font-size: 2rem;
                    margin-bottom: 1rem;
                }
            }
        }
    }

    &__filter__toggle {
        display: none;

        @include tablet {
            display: block;
            margin-bottom: 2rem;
        }
    }

    &__content {
        flex-grow: 1;

        @include tablet {
            width: 100%;
        }
    }
}
